/* logo text color:: color: #272926;    nav-menu text color : #626230 */

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #272926;
    font-size: 40px;
    font-weight: 600;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 52px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    color: #626230;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 75%;
    height: 3px ;
    border-radius: 10px;
    background-color: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 40px;

}
.nav-login-cart button{
    width: 155px;
    outline: none;
    border: 1px solid #5e5b5f;
    height: 50px;
    border-radius: 50px;
    color: #626230;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: white;
}

.nav-login-cart button:active{
    background-color:#acaca7 ;
}

/* counter for cart  */
.nav-cart-count{
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    color: White;
    background: red;
border-radius: 50%;
}